<!DOCTYPE html>
<html>
<head>
    <title>Notification App</title>
</head>
<body>
    <h1>Notifications</h1>
    <form action="/submit" method="POST">
        <label for="winner">Winner:</label><br>
        <input type="text" id="winner" name="winner" required><br>
        <label for="prizeName">Prize Name:</label><br>
        <input type="text" id="prizeName" name="prizeName" required><br>
        <label for="prizeValue">Prize Value:</label><br>
        <input type="text" id="prizeValue" name="prizeValue" required><br><br>
        <button type="submit">Submit</button>
    </form>
    <hr>
    <% for (let message of messages) { %>
        <p>
            Winner: <%= message.winner %>,
            Prize Name: <%= message.prizeName %>,
            Prize Value: <%= message.prizeValue %>
        </p>
    <% } %>
    <script>
        const getNotifications = async (amount = 100) => {
            try {
                const response = await fetch('/notifications');
                const data = await response.json();
                console.log(data.messages);
            } catch (error) {
                console.error('Cannot get notifications');
            }
        };

        getNotifications();
    </script>
</body>
</html>
